In [1]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [6]:
#Read mortality rates csv
mort_rate = "JamsP1/IMR_mortality_rate_2019.csv"

mort_rates_df = pd.read_csv(mort_rate)

mort_rates_df.head(10)

,ISO Code,Country Name,Uncertainty bounds*,1950.5,1951.5,1952.5,1953.5,1954.5,1955.5,1956.5,...,2009.5,2010.5,2011.5,2012.5,2013.5,2014.5,2015.5,2016.5,2017.5,2018.5
0,AFG,Afghanistan,Lower,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,62.251189,59.643022,57.067529,54.477731,51.861995,49.235660,46.609963,44.262986,41.968933,39.795215
1,AFG,Afghanistan,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,66.804305,64.311849,61.870666,59.535698,57.298728,55.143999,53.127556,51.240531,49.477169,47.864949
2,AFG,Afghanistan,Upper,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,71.809044,69.371441,67.155333,65.068921,63.130400,61.367525,59.789817,58.387980,57.188713,56.309451
3,ALB,Albania,Lower,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.903032,11.149902,10.431073,9.745050,9.134677,8.611101,8.211288,7.897242,7.622096,7.333115
4,ALB,Albania,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.850900,11.879975,10.974832,10.169440,9.484409,8.941255,8.536219,8.244223,8.023652,7.845715
5,ALB,Albania,Upper,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.843129,12.618475,11.531804,10.611914,9.856405,9.280379,8.873632,8.604798,8.449997,8.391830
6,DZA,Algeria,Lower,NaN,NaN,NaN,NaN,119.349558,122.714271,125.548805,...,23.885709,23.101330,22.483013,22.022032,21.621604,21.245793,20.850650,20.401367,19.837402,19.097704
7,DZA,Algeria,Median,NaN,NaN,NaN,NaN,146.792175,146.505027,146.563090,...,24.341251,23.540407,22.910709,22.444994,22.083585,21.751562,21.412810,21.036402,20.616541,20.149825
8,DZA,Algeria,Upper,NaN,NaN,NaN,NaN,182.628211,176.314362,171.797320,...,24.809680,23.991767,23.356760,22.885251,22.561547,22.260747,21.972648,21.681627,21.422426,21.284039
9,AND,Andorra,Lower,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.153906,2.950251,2.747041,2.533944,2.324535,2.142452,1.964804,1.831741,1.714827,1.607499

In [9]:
#Read education data csv
edu_data = "JamsP1/Education_Data.csv"

edu_data_df = pd.read_csv(edu_data)

edu_data_df.head(10)

  LOCATION INDICATOR SUBJECT   MEASURE FREQUENCY  TIME      Value  Flag Codes
0      AUS  EDUADULT  UPPSRY  PC_25_64         A  2000  31.311945         NaN
1      AUS  EDUADULT  UPPSRY  PC_25_64         A  2001  29.946537         NaN
2      AUS  EDUADULT  UPPSRY  PC_25_64         A  2002  30.189898         NaN
3      AUS  EDUADULT  UPPSRY  PC_25_64         A  2003  31.166031         NaN
4      AUS  EDUADULT  UPPSRY  PC_25_64         A  2004  33.297886         NaN
5      AUS  EDUADULT  UPPSRY  PC_25_64         A  2005  33.340881         NaN
6      AUS  EDUADULT  UPPSRY  PC_25_64         A  2006  33.687943         NaN
7      AUS  EDUADULT  UPPSRY  PC_25_64         A  2007  34.446560         NaN
8      AUS  EDUADULT  UPPSRY  PC_25_64         A  2008  33.785992         NaN
9      AUS  EDUADULT  UPPSRY  PC_25_64         A  2009  34.146122         NaN

In [10]:
edu_data2 = "xmart.csv"

edu_data2_df = pd.read_csv(edu_data2)

edu_data2_df.head(10)

,Country; Year; Data Source,Neonatal mortality rate (deaths per 1000 live births); None,Neonatal mortality rate (deaths per 1000 live births); Primary,Neonatal mortality rate (deaths per 1000 live births); Secondary or higher,Infant mortality rate (deaths per 1000 live births); None,Infant mortality rate (deaths per 1000 live births); Primary,Infant mortality rate (deaths per 1000 live births); Secondary or higher,Under-five mortality rate (deaths per 1000 live births); None,Under-five mortality rate (deaths per 1000 live births); Primary,Under-five mortality rate (deaths per 1000 live births); Secondary or higher
0,Afghanistan; 2015; DHS,25.9 [23.4-28.7],17.9 [12.0-26.6],18.9 [11.4-31.2],51.8 [47.0-57.1],34.2 [26.3-44.3],35.0 [25.5-47.9],64.7 [58.6-71.3],45.7 [35.8-58.1],38.2 [28.5-51.0]
1,Afghanistan; 2010; MICS,No data,No data,No data,No data,No data,No data,No data,No data,No data
2,Albania; 2008; DHS,No data,12.4 [7.8-19.8],6.1 [3.2-11.8],No data,21.1 [15.0-29.6],15.7 [10.2-24.1],No data,23.7 [17.3-32.3],18.8 [12.5-28.4]
3,Albania; 2005; MICS,No data,No data,No data,No data,No data,No data,No data,No data,No data
4,Albania; 2002; RHS,No data,No data,No data,No data,No data,No data,No data,No data,No data
5,Algeria; 2012; MICS,No data,No data,No data,No data,No data,No data,No data,No data,No data
6,Angola; 2015; DHS,21.3 [17.2-26.3],30.1 [25.2-36.1],18.7 [14.4-24.3],49.6 [42.5-57.8],61.6 [54.3-69.7],32.7 [26.5-40.4],79.1 [69.7-89.7],97.1 [86.6-108.8],50.4 [42.2-60.1]
7,Argentina; 2011; MICS,No data,No data,No data,No data,No data,No data,No data,No data,No data
8,Armenia; 2015; DHS,No data,No data,5.3 [3.3-8.4],No data,No data,8.3 [5.7-12.2],No data,No data,10.6 [7.6-14.8]
9,Armenia; 2010; DHS,No data,No data,9.4 [6.1-14.7],No data,No data,18.6 [13.3-25.9],No data,No data,21.5 [15.8-29.2]